@model Proyecto_Municipalidad.Models.Evento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idEvento" />
            <div class="form-group">
                <label asp-for="eventoTitulo" class="control-label"></label>
                <input asp-for="eventoTitulo" class="form-control" />
                <span asp-validation-for="eventoTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cuerpoevento" class="control-label"></label>
                <input asp-for="cuerpoevento" class="form-control" />
                <span asp-validation-for="cuerpoevento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autorEvento" class="control-label"></label>
                <input asp-for="autorEvento" class="form-control" />
                <span asp-validation-for="autorEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
